body {
    background-color: #e3e3e3;
}
/* ------------ HEADER ------------- */
.header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    background-color: lightgrey;
}
.gerb {
    width: 150px;
    height: auto;
    padding: 15px;
}
.title {
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: right;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding: 20px;
    padding-top: 30px;
    margin: 0;
}
.help_header{
    display: flex;
    align-items: center;
    margin-right: 150px;
}
.title_logo{
    display: flex;
    margin-left: 150px;
}
/* --------------------- MAIN ---------------------- */
.carousel_item {
    width: 854px;
    height: 600px;
}
.main {
    padding-bottom: 40px;
    margin-top: 200px;
}
.help {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
    text-decoration: none;
    color: inherit;
}
.cta:hover {
    color: #adb0ac;
}
.cta:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(33, 61, 25, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
}
.cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
    animation: font-size .75s ease-out infinite;
}
.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.cta:hover:before {
    width: 100%;
    background: linear-gradient(90deg, rgba(213,43,16,1) 0%, rgba(213,43,16,1) 33%, rgba(0,57,166,1) 33%, rgba(0,57,166,1) 66%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 100%);
}
.cta:hover svg {
    transform: translateX(0);
    stroke: #adb0ac;
    fill: #adb0ac;
}
.cta:active {
    transform: scale(0.96);
}


/* ---------------- ABOUT ------------------ */
.h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
    font-size: 50px;
    font-weight: bold;
}
.about_text {
    padding-bottom: 45px;
}

/* ---------------- VOLOUNTER ------------------ */
.volounters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    flex-direction: row;
    margin-bottom: 20px;
    border: none;
    background-color: #e3e3e3;
}
.btn-primary {
    background-color: rgba(33, 61, 25, 0.5);
    border: none;
    width: 100%;
    color: inherit;
    font-weight: bold;
}
.card-img-top {
    width: 25%;
    height: auto;
    margin: auto;
    border-radius: 50%;
}
.btn-primary:hover {
    background-color: #2a3d24;
    color: #adb0ac;
}
.btn-primary:active {
    background-color: #2a3d24;
    color: #adb0ac;
}
.btn-primary:active:focus {
    box-shadow: none;
}
.btn:focus {
    box-shadow: none;
    background-color: #2a3d24;
}
/* ---------------- PARTNER ------------------ */
.partner{
    padding-top: 20px;
}
.partners{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 45px;
}
.card-par{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 33.33%;
    padding-bottom: 50px;
    flex-grow: 2;
}
.card-img-top-par{
    height: 120px;
}