/*.body {*/
/*    background: linear-gradient(-45deg, #FFFFFF, #01147A, #018DE9, #C33424);*/
/*    background-size: 400% 400%;*/
/*    animation: gradient 15s ease infinite;*/
/*    height: 100%;*/
/*}*/

/*@keyframes gradient {*/
/*    0% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*    50% {*/
/*        background-position: 100% 50%;*/
/*    }*/
/*    100% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*}*/


/* ------------ HEADER ------------- */
.header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: start;
    z-index: 1000;
}
.container {
    background-color: white;
}
.gerb {
    width: 170px;
    height: 170px;
}
.title {
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: right;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding: 20px;
    margin: 0;
}


/* --------------------- MAIN ---------------------- */
.carousel_item {
    width: 854px;
    height: 480px;
}
.main {
    padding-bottom: 40px;
    margin-top: 200px;
}
.help {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
    text-decoration: none;
    color: inherit;
}
.cta:hover {
    color: #adb0ac;
}
.cta:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(33, 61, 25, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
}
.cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
}
.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.cta:hover:before {
    width: 100%;
    background: #2a3d24;
}
.cta:hover svg {
    transform: translateX(0);
    stroke: #adb0ac;
    fill: #adb0ac;
}
.cta:active {
    transform: scale(0.96);
}


/* ---------------- ABOUT ------------------ */
.h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}
.about_text {
    padding-bottom: 45px;
}

/* ---------------- VOLOUNTER ------------------ */
.volounters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    flex-direction: row;
    margin-bottom: 20px;
    border: none;
}
.btn-primary {
    background-color: rgba(33, 61, 25, 0.5);
    border-color: rgba(33, 61, 25, 0.5);
    width: 100%;
    color: inherit;
}
.card-img-top {
    width: 25%;
    height: auto;
    margin: auto;
    border-radius: 50%;
}
.btn-primary:hover {
    background-color: #2a3d24;
    border-color: #2a3d24;
}

/* ---------------- PARTNER ------------------ */
.partners{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 45px;
}
.card-par{
    display: flex;
    justify-content: center;
    align-content: center;
}